#clusters-list.panel-group( role='tablist' ng-show='clusters.length' )
  .panel.panel-info
    .panel-heading.
      Events for {{ timeSeries.selectedDate | date }}
  .panel.panel-default( ng-repeat='cluster in clusters' )
    .panel-heading.dark( role='tab' )
      .panel-title
        a( ng-click='selectCluster(cluster)' role='button'
          data-toggle='collapse' data-parent='#clusters-list'
          data-target="{{'#tab' + $index}}"
          ng-class='{highlight: isSelectedEventInCluster(cluster)}' )
          i.fa.fa-chevron-down &nbsp;
          | See {{ cluster.weight }} items
    .panel-collapse.collapse( id="{{'tab' + $index}}" role='tabpanel'
      ng-class='{in: isClusterSelected(cluster)}' )
      .list-group
        a.list-group-item.dark(
          ng-repeat='event in cluster.events track by event.event_id'
          ng-click='selectEvent(event)' ng-class='{highlight: isEventSelected(event)}'
          ng-mouseover='highlightEventBox(event)'
          ng-mouseleave='highlightEventBox(event, {revert: true})' )
          span.badge( title='event weight (# of posts)') {{ event.weight }} posts
          img( ng-src='{{ event.event_source | sourceIcon }}' )

