spinner( show='showSpinner' ) //- boolean scope property to toggle spinner

image-grid.map-overlay.truncate.hide.col-md-10(
  image-type='unselected' hover-dir='bottom-right'
  map-overlay overlay-action='shrink' style='top:45px;left:0;height:128px' )

.container-fluid
  .row( dynamic-cols='clusters'
    before='["col-md-12", "gone"]' after='["col-md-10", "col-md-2"]' )

    div( style='padding:15px 0' class='{{colClasses[0]}}' )
      .events-map( events-map heat-map network-graph zoom='4' )
        geocode-controls
        heatmap-controls
    div( style='padding-left:0' class='{{colClasses[1]}}' )
      events-list( network-graph )

.map-overlay.col-md-12( style='bottom:0;left:0' map-overlay overlay-action='shrink' )
  .col-md-4
    time-series( chart_name='time-series' )
  .col-md-4
    canvas#graph( class='netgraph' )
  .col-md-4
    .inst.
      hint: dbl-click to toggle
    jqcloud( tag-cloud words='tags' delay='10' steps='7' class='events-cloud'
      font-size='{from:0.08, to:0.02}' )

image-grid.map-overlay.truncate.hide.col-md-4(
  image-type='selected' hover-dir='top-left'
  map-overlay overlay-action='hide' after-action='clearImages("selected")'
  style='bottom:0;right:0;z-index:100' )
